<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
    <style>
        .layout {
            width: 500px;
            margin: 0 auto;
            margin-top: 40px;
        }
        
        .post-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
<body>

    <div class="layout">

        <table >
            <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>이미지</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="post : ${list}">
                    <td th:text="${post.id}">1</td>
                    <td>
                        <a th:text="${post.title}" th:href="@{/post/view(id=${post.id})}"></a>
                    </td>
                     <td>
                        <img th:if="${post.filepath != null}" th:src="@{${post.filepath}}" class="post-image" alt="게시글 이미지" />
                    </td>
                </tr>
            </tbody>
        </table>

        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/post/list(page = ${page - 1})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block>
    </div>

</body>
</html>
